{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Our {{ restaurant_name }}</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-white text-gray-800 font-sans">
        <div class="min-h-screen flex flex-col justify-center items-center px-4 text-center">
            <h1 class="text-5xl font-bold text-red-600 mb-4 " style="letter-spacing:1px;">
                Welcome to Our{{ restaurant_name }}
            </h1>
            <p class="text-lg text-gray-600 max-w-xl mb-6" style="linge-height:1.6:">
                Experience a world of flavors crafted with passion.
            </p>
            <a href="{% url 'menu'%}" class="bg-red-600 text-white px-6 py-3 rounded-lg text-lg font-medium shadowhover:bg-red-700 transition duration-300"
            style="text-decoration:none:">View menu</a>
        </div>
    </body>
</html>